/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Background.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: top; /* Position the background image at the top */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 40px 0;
}

.header {
    
    color: black; /* White text */
    text-align: center;
    padding: 20px 0;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 20px; /* Add bottom margin */
}

.footer {
   
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
}

/* About, Skills, Contact sections */
.section h2 {
    font-family: 'Comic Sans MS', cursive;
    color: #333; /* Darker gray */
    text-align: center;
    font-weight: bold; /* Make headings bold */
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-family: 'Comic Sans MS', cursive;
    color: #333; /* Darker gray */
    font-weight: bold; /* Make project titles bold */
}

/* Profile Picture */
.profile-pic {
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    background-image: url('photo.jpeg'); /* Replace 'your-profile-pic.jpg' with the path to your image */
    border-radius: 50%; /* Make it a circle */
    margin: 0 auto 20px; /* Center the image and add some bottom margin */
    border: 5px solid #fff; /* Add a border to the circle */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

/* Social icons */
.social-icons img {
    width: 30px;
    margin: 0 5px;
}
